<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--<base href="/home/sabbir/PycharmProjects/cd/templates/">-->
<style>
div.container{
	border:1px solid grey;
	width:100%;
}
header,footer
{
	background-color:black;
	color:white;
	padding:1px;
	text-align:center;
	clear: left;<!--not float left-->
	
}
nav
{
	float:left;
	margin:0;
	max-width:160px;
	padding:1px;
}
nav ul
{
	list-style-type:none;
	padding:0;
}
na ul a
{
	text-decoration:none;
}
article
{
	margin-left:170px;
	border-left:1px solid grey;
	padding:1px;
	overflow:scroll;
}
</style>
</head>

<body>

<div class="container">

<header>
<h1> Car Gallery</h1>
</header>

<nav>
<ul>
<li><a href="#Dhaka">Jaguar-XK-Convertible</a></li>
<li><a href="#London">Jeep-Cherokee-SUV</a></li>
<li><a href="#Tokyo">Toyota-Camry-Sedan</a></li>
<li><a href="#Paris">Tata Nano</a></li>
</ul>
</nav>

<article>
<h2 id="Dhaka">Jaguar-XK-Convertible</h2>
<img src="/home/sabbir/PycharmProjects/cd/templates/Jaguar-XK-Convertible.jpg" alt="Jaguar-XK-Convertible" style="float:right; height:100px; width:100px">
<p>The Jaguar XK (XK, XK8 and XKR) is a two-door grand touring 2+2 manufactured and marketed by Jaguar Cars from 1996-2014 in coupé and convertible bodystyles, across two generations. The XK was introduced at the Geneva Motor Show in March 1996 and was last manufactured in July 2014.

The first generation was marketed as the XK8, replacing the XJS and was Jaguar's first 8-cylinder model since the Daimler 250, introducing the Jaguar AJ-V8 engine. The second generation XK, noted for its aluminium monocoque bodyshell, was launched in 2006 for model year 2007. Both generations were marketed in performance variants, as the XKR.</p>

<h2 id="London">Jeep-Cherokee-SUV</h2>
<img src="/home/sabbir/PycharmProjects/cd/templates/Jeep-Cherokee-SUV.jpg" alt="Jeep-Cherokee-SUV" style="float:right; height:100px; width:100px">
<p>The Jeep Grand Cherokee is a mid-size luxury SUV produced by the American manufacturer Jeep. While some other SUVs were manufactured with body-on-frame construction, the Jeep Grand Cherokee has always used a unibody chassis</p>

<h2 id="Tokyo">Toyota-Camry-Sedan</h2>
<img src="/home/sabbir/PycharmProjects/cd/templates/Toyota-Camry-Sedan.jpg" alt="Toyota-Camry-Sedan" style="float:right; height:100px; width:100px">
<p>The Toyota Camry is an automobile sold internationally by the Japanese manufacturer Toyota since 1982, spanning multiple generations. Originally compact in size (narrow-body), later Camry models have grown to fit the mid-size classification (wide-body)—although the two sizes co-existed in the 1990s. Since the release of the wide-bodied versions, Camry has been extolled by Toyota as the firm's second "world car" after the Corolla. In Japan, Camry is exclusive to Toyota Corolla Store retail dealerships. Narrow-body cars also spawned a rebadged sibling in Japan, the Toyota Vista ,also introduced in 1982 and sold at Toyota Vista Store locations. Diesel fuel versions have previously retailed at Toyota Diesel Store.
</p>

<h2 id="Paris">Tata Nano</h2>
<img src="/home/sabbir/PycharmProjects/cd/templates/tata nano.jpeg" alt="tata nano" style="float:right; height:100px; width:100px">
<p>The Tata Nano is a city car manufactured by Tata Motors. Made and sold in India. The Nano was initially launched with a price of one lakh rupees or ₹100,000 (US$1,600),[4] which has increased with time. Designed to lure India's burgeoning middle classes away from motorcycles, it received much publicity.
</p>

</article>

<footer>Copyright &copy; Pulok.com</footer>

</div>

</body>
</html>








